@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo{
    margin-top: 32.88px;
}

hr{
    display: none;
}

.m-hr{
    margin: 40px 0;
}

.d-flex{
    display: flex;
}

.main_text{
    margin-top: 79.55px;
}

button{
    border: none;
    background-color: transparent;
}

.main_text h1{
    font-size: 125px;
    line-height: 90%;
    font-weight: 600;
}

.group_sociais{
    margin-top: 100.42px;
    margin-bottom: 83.89px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group_sociais a .d-none{
    display: none;
}

.group_sociais a:hover svg{
    display: none;
}

.group_sociais a:hover svg.d-none{
    display: inherit;
}

.group-text-content .group_text-services{
    text-align: start;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.group-text-content .group_text-services h5{
    line-height: 90%;
    font-weight: 500;
    font-size: 20px;
}

.group-text-content h3.title_group{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    background-image: linear-gradient(to right, var(--gradiente-1) -20%, var(--gradiente-2) 78%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.group-text-content h2{
    font-size: 28px;
    margin-bottom: 16px;
}

.group__text{
    margin-top: 16px;
    margin-bottom: 26.65px;
    font-family: var(--fonte-corrida);
}

.group-text-content .group__text{
    width: 282px;
    font-size: 16px;
    line-height: 150%;
    Vertical-align: Top;
}

.text_side span{
    font-family: var(--fonte-corrida);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: var(--tonaliade-white);
    width: 0;
    white-space: nowrap;
}

.text_side span:first-child{
    margin-top: 282px;
    height: 93px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
}

.text_side span:last-child{
    position: relative;
    top: -60%;
    height: 141px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 61.74px;
    transform: rotate(-90deg);
}

footer{
    font-family: var(--fonte-corrida);
    font-size: 12px;
}

footer.mb{
    margin-bottom: 47.6px;
    justify-content: space-between;
}

.mobile{
    display: none;
}

.visited{
    font-family: var(--fonte-corrida) !important;
}

.hover-d-none{
    display: none;
}

@media screen and (min-width: 800px){
    .content_text{
        margin-top: 97.74px;
    }

    footer p{
        margin-left: 89.11px;
    }

    .main_text{
        margin-left: 89.11px;
    }
    .construcao{
        position: relative;
        left: 370px;
        top: -98px;
    }
    .svg_soon{margin-top: 7px;}
    .group-text-content{
        margin-left: 135px;
    }
}

@media screen and (max-width: 800px){
    svg.title-group-content{width: 283px;}
    .m-hr{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    hr{
        display: block;
        width: 227px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .d-flex{flex-direction: column;}
    .main_text h1{
        font-weight: 600;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desk{display: none;}

    .arara{display: none;}

    .group-text-content{
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .group-text-content .group_text-services{
        text-align: center;
    }
    footer{
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
        font-size: 0;
    }
    footer span{font-size: 14px;}
    .title{background-image: url(../content/img/Vector.svg)}
    .group_sociais{margin: 0;}
    .group__text{margin-top: 24px;}
    footer.container .data{margin: 32px 0;}

    footer.mb p:first-child{
        display: flex;
        flex-direction: column;
    }
    .text_side{display: none;}

    .svg_soon{
        margin-top: 16px;
        width: 227px;
    }

    .construcao{
        text-align: center;
    }

    .main_text .title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column
    }

    .group_sociais.mobile{
        margin-bottom: 32px;
    }
}